/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';

/* 3rd party */
@import './3rd-party/font-awesome.min.css';

/* components */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* CUSTOM STYLE BELOW THIS COMMENT */

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

/* HERO SECTION */
.container.hero {
  padding-bottom: 25px;
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.hero>.row-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.logo {
  height: 40px;
  width: 200px;
  object-fit: contain;
  object-position: center;
}

.main-title {
  text-transform: uppercase;
  font-size: 70px;
  color: var(--color-dark);
}

.main-description {
  font-size: 20px;
  color: var(--color-grey);
}

/* MAIN CONTENT SECTION */
main>.row-big>div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-title {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.section-description {
  font-size: 18px;
  color: var(--color-grey);
  line-height: 1.7em;
}

.section-description>a {
  color: var(--color-secondary);
  text-decoration: none;
}

.section-description>a:hover {
  text-decoration: underline;
}
/* MOUSE */
.mouse {
  display: flex;
  justify-content: center;
}
.mouse_body {
  display: flex;
  justify-content: center;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  height: 40px;
  width: 26px;
  border-radius: 13px; 
  content: '';
}
.mouse_button {
  margin-top: 8px;
  width: 3px;
  height: 3px;
  background-color: #fff;
  animation-name: mouse_scroll;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes mouse_scroll {
  0% {
    margin-top: 8px;
  }
  100% {
    margin-top: 20px;
  }
}

/* PROGRESS BAR */
.bar_text {
  display: flex;
  justify-content: space-between;
   color: var(--color-grey);
}

.bar {
  margin-top: 15px;
}
.grey {
display: flex;
height: 4px;
background-color: var(--color-grey);
}
.progress > .prog_anim {
  background-color: rgb(163, 163, 248);
  width: 100%;
  height: 100%;
  animation-name: progress_bar_width;
   animation-timing-function: linear;
  animation-duration: 2s;
}

@keyframes progress_bar_width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* FOOTER SECTION */
footer.container {
  padding-top: 0;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  border-bottom: 1px solid var(--color-light);
}

.socials>.fa {
  color: var(--color-light);
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s;
}

.socials>.fa:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
}

.bottom-texts{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
   color:#fffb;
   line-height: 1.6rem;
}

.footer-logo{
  height: 50px;
  object-fit:contain;
  object-position: center;
  margin: 30px 0;
}

.multi-text {
  display: flex;
  justify-content: center;
  gap:0 30px;
  
}

.multi-text>div{
  position: relative;
}

.multi-text > div::before {
display: inline-block;
background-color: var(--color-light);
content:'';
width: 2px;
height: 15px;
position: absolute;
left: -15px;
top: 50%;
transform: translate(-50%, -50%);
}

.multi-text>div:first-of-type::before {
  display: none;
}

.bottom-texts a {
  color: var(--color-light);
  text-decoration: none;
}

@media (max-width: 640px) {
  .multi-text {
    flex-direction: column;
    gap: 0;
  }
  .multi-text>div::before {
display: none;
  }
}

.labas::before {
  display: inline-block;
  content: 'Labas,';
  margin-right: 10px;
}

.labas::after {
  display: inline-block;
  content: '!';
}
/*
.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.star {
  background: url('/img/star.png') no-repeat left top;
  background-size: contain;
  height: 34px;
  padding-top: 7px;
  padding-left: 44px;
}
*/
/* ------ kitas list element formatavimas ------- */
ul{
  list-style: none;
}

ul>li{
  line-height: 30px;
}

ul>li::before {
  display: inline-block;
  content:'';
  width: 20px;
  height: 20px;
  background-image: url(/img/star.png);
  background-size: contain;
  background-repeat:no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}